<nav class="navbar navbar-light bg-black text-light">
  <div class="container-fluid">
    <a class="navbar-brand text-light" href="#">
      <img id="logo" src="assets/vetores/Logotipo.svg" alt="VisseModas" />
    </a>
<div class="navegacao">
    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
       Administração <i class="fa-solid fa-suitcase"></i>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="admin-list-produto">Listar Produtos</a>
        <a class="dropdown-item" href="add-produto">Cadastrar Produtos</a>
        <a class="dropdown-item" href="admin-list-cliente">Listar Clientes</a>
        <a class="dropdown-item" href="admin-list-pedido">Listar Pedidos</a>
      </div>
    </div>

    <div class="dropdown">
      <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Cliente <img
        id="user"
        src="assets/vetores/Ícone_cliente_(branco).svg"
        alt="Usuário"
      />
       </a>  
       <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="add-endereco">Cadastrar usuário</a>
        <a class="dropdown-item" href="choose-cliente/0">Escolher usuário</a>
        <a class="dropdown-item" href="list-pedidos-cliente">Meus pedidos</a>
      
      </div>  </div>
      <a href="carrinho"
        ><img src="assets/vetores/Sacolinha.svg" alt="Sacolinha" id="sacolinha"
      /></a>

   <!--<div class="m-3 icons">
      <a href="add-endereco"
        ><img
          id="user"
          src="assets/vetores/Ícone_cliente_(branco).svg"
          alt="Usuário"
        /><span id="cadastrarCliente">Cliente</span></a
      > 
      
      
    </div>-->
  </div></div>
</nav>
