<footer class="footer mt-auto py-3">
  <div class="d-flex justify-content-between">
    <div class="m-3 col-2">
      <i class="fa-brands fa-instagram m-2"></i>
      <a href="mailto:vissemodas@entreprise.com"
        ><i class="fa-solid fa-envelope m-2"></i
      ></a>
    </div>
    <div class="informacoes">
      <p>
        visse modas s.a. / CNPJ: 01.234.567/0001/23 Inscrição Estadual:
        12.345.67-8
      </p>
      <p>Endereço Avenida do grupo quatro, 444 - Recife - PE, CEP - 51000-000</p>
    </div>
    <div class="m-3">
      <img src="assets/vetores/Coração.svg" alt="Coração" />
    </div>
  </div>
</footer>
