* {
}

.carouselExampleControls {
  height: 70%;
}

#inputBuscarProduto,
#btnBuscarProduto {
  border-radius: 5em;
  background: #edab7a;
  color: white;
  border: none;
}

#inputBuscarProduto {
  margin-left: 50%;
  font-family: "Arial";
}

#btnBuscarProduto {
  margin-left: 10px;
}

#btnBuscarProduto:hover {
  background: #973e2e;
}

/* Removendo o estilo marrom nos botões do carousel*/
.carousel-control-next,
.carousel-control-prev {
  background: none !important;
  /* color: #973e2e !important; */
}

.carousel-control-next:hover,
.carousel-control-prev:hover {
  background: #973e2e21 !important;
  /* color: #973e2e !important; */
}

/* Display 3 itens per row */

.listaProdutos ul {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
}

.listaProdutos ul li {
  list-style: none;
  flex: 0 0 33.333333%;
  text-align: center;
}

@media only screen and (max-width: 799px) {
  #inputBuscarProduto {
    margin-left: 50%;
  }
}

@media only screen and (max-width: 699px) {
  .listaProdutos ul li {
    list-style: none;
    flex: 0 0 50%;
    text-align: center;
  }

  #inputBuscarProduto {
    margin-left: 40%;
  }
}

@media only screen and (max-width: 599px) {
  #inputBuscarProduto {
    margin-left: 30%;
  }
}

@media only screen and (max-width: 499px) {
  .listaProdutos ul li {
    list-style: none;
    flex: 0 0 100%;
    text-align: center;
  }

  #inputBuscarProduto {
    margin-left: 20%;
  }
}
